{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}

    <div  id="cp"  >  
            <div class=" row" >
                    
                    <div class="col-md-2"></div>
                    <div class="col-md-8 card-1" id="pitch">
                        <h4 class="text-center">Pitch</h4><hr>
                        {{wtf.quick_form(form)}}
                        {{simplemde.load}}
                    </div>
                    <div class="col-md-2"></div>
            </div>
    </div>
   
{% endblock%}