  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('main.index')}}"><strong>Pitchr</strong> </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
              <li class="arrow"><a href="{{url_for('main.new_pitch')}}"><i class="fa fa-tachometer"></i><br>new pitch</a></li>
            {%endif%}
            <li class="arrow"><a href="{{url_for('main.index')}}"><i class="fa fa-tachometer"></i><br>browse</a></li>
            
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"><i class="fa fa-table" aria-hidden="true"></i><br>Category<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="nav-link" id ="cats" data-toggle="tab" href="#jobs">Job Pitches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id ="cats" data-toggle="tab" href="#event">Event Pitches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id ="cats"data-toggle="tab" href="#ads">Advert Pitches</a>
                </li>
            </ul>
          </li>
        </ul> 
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style= 'margin-right:30px' data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>&nbsp;<strong>{{current_user.username}}</strong> </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="{{url_for('main.profile',name=current_user.username)}}"><i class="far fa-user"></i>&nbsp; My account</a>
              <a class="dropdown-item" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a>
            </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a  class="nav-link" href="{{url_for('auth.login')}}" style= 'margin-right:30px'><i class="fas fa-sign-in-alt"></i>&nbsp; <strong>Log In</strong></a>
            </li>
            <li class="nav-item">
                    <a style= 'margin-right:30px' class="nav-link" href="{{url_for('auth.signup')}}"><i class="fas fa-user-plus"></i></i>&nbsp; <strong>Sign Up</strong></a>
                </li>
            {%endif%}

        </ul>
     
      </div>
    </div>
  </nav>